In [ ]:
!pip install notebook
!pip install ipython

**1. Prime Number Checker:
Check if a given number is prime or not.**

In [65]:
num = int(input("Enter a number: "))
if num > 1:
    is_prime = True
    i = 2
    while i < num:
        if num % i == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print("Prime number")
    else:
        print("Not a prime number")
else:
    print("Not a prime number")

Enter a number: 7
Prime number

**2.Leap Year Checker:
Determine if a given year is a leap year.**

In [66]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year: 2021
Not a Leap Year

**3.Largest of Three Numbers:
Find the largest number among three inputs.**

In [67]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest:", a)
elif b >= a and b >= c:
    print("Largest:", b)
else:
    print("Largest:", c)

Enter first number: 8
Enter second number: 10
Enter third number: 11
Largest: 11

**4.Grading System:
Convert marks into grades based on given conditions (e.g., 90+ is A).**

In [68]:
marks = int(input("Enter marks (0-100): "))

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter marks (0-100): 53
Grade: F

**5.Triangle Validity:
Check if three given sides can form a valid triangle.**

In [72]:
a = int(input("Enter first side: "))
b = int(input("Enter second side: "))
c = int(input("Enter third side: "))

if a + b > c and b + c > a and a + c > b:
    print("Valid Triangle")
else:
    print("Invalid Triangle")

Enter first side: 3
Enter second side: 2
Enter third side: 5
Invalid Triangle

**6.Palindrome Number:
Check if a given number is a palindrome.**

In [74]:
num = int(input("Enter a number: "))
original = num
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

if original == rev:
    print("Palindrome Number")
else:
    print("Not a Palindrome")

Enter a number: 77
Palindrome Number

**7.Armstrong Number:
Verify if a number is an Armstrong number.**

In [75]:
num = int(input("Enter a number: "))
sum = 0
temp = num
order = len(str(num))

while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

if num == sum:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Enter a number: 153
Armstrong Number

**8.Sum of Even and Odd Numbers:
Calculate the sum of even and odd numbers in a given range.**

In [76]:
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))

even_sum = 0
odd_sum = 0
i = start

while i <= end:
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i
    i += 1

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Enter start of range: 8
Enter end of range: 90
Sum of even numbers: 2058
Sum of odd numbers: 2009

**9.Fibonacci Sequence:
Generate a Fibonacci sequence up to a specified number of terms.**

In [78]:
n = int(input("Enter number of terms: "))

a = 0
b = 1
count = 0

while count < n:
    print(a, end=' ')
    next = a + b
    a = b
    b = next
    count += 1

Enter number of terms: 4
0 1 1 2

**10. Factorial Calculator:
Compute the factorial of a given number using conditional logic.**

In [77]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("Factorial is 1")
else:
    i = 1
    while i <= num:
        factorial *= i
        i += 1
    print("Factorial is", factorial)

Enter a number: 8
Factorial is 40320

**11.Reverse a String:
Reverse a given string without using slicing.**

In [1]:
s = input("Enter a string: ")
reversed_str = ""
i = len(s) - 1

while i >= 0:
    reversed_str += s[i]
    i -= 1

print("Reversed string:", reversed_str)

Enter a string: dude
Reversed string: edud

**12.Count Vowels and Consonants:
Count the number of vowels and consonants in a string.**

In [2]:
s = input("Enter a string: ")
vowels = 0
consonants = 0
i = 0

while i < len(s):
    ch = s[i].lower()
    if ch in 'aeiou':
        vowels += 1
    elif ch.isalpha():
        consonants += 1
    i += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Enter a string: potato
Vowels: 3
Consonants: 3

**13. Check Substring:
Check if one string is a substring of another.**

In [3]:
main_str = input("Enter the main string: ")
sub_str = input("Enter the substring: ")

if sub_str in main_str:
    print("Substring found")
else:
    print("Substring not found")

Enter the main string: yesterday
Enter the substring: tes
Substring not found

**14. String Anagram Check:
Determine if two strings are anagrams of each other.**

In [6]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

if sorted(s1) == sorted(s2):
    print("Anagram")
else:
    print("Not an Anagram")

Enter first string: fried
Enter second string: fired
Anagram

**15.Remove Duplicates:
Remove duplicate characters from a string**

In [7]:
s = input("Enter a string: ")
result = ""
i = 0

while i < len(s):
    if s[i] not in result:
        result += s[i]
    i += 1

print("Without duplicates:", result)

Enter a string: yess
Without duplicates: yes

**16.Longest Word in a Sentence:
Find the longest word in a given sentence.**

In [8]:
sentence = input("Enter a sentence: ")
words = sentence.split()
longest = ""

i = 0
while i < len(words):
    if len(words[i]) > len(longest):
        longest = words[i]
    i += 1

print("Longest word:", longest)

Enter a sentence: I am an intern.
Longest word: intern.

**17.Character Frequency:
Count the frequency of each character in a string.**

In [9]:
s = input("Enter a string: ")
freq = {}
i = 0

while i < len(s):
    ch = s[i]
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1
    i += 1

print("Character frequencies:")
for ch in freq:
    print(ch, ":", freq[ch])

Enter a string: banana
Character frequencies:
b : 1
a : 3
n : 2

**18.First Non-Repeating Character:
Find the first non-repeating character in a string.**

In [10]:
s = input("Enter a string: ")
freq = {}
i = 0

while i < len(s):
    ch = s[i]
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1
    i += 1

i = 0
while i < len(s):
    if freq[s[i]] == 1:
        print("First non-repeating character:", s[i])
        break
    i += 1

Enter a string: aana
First non-repeating character: n

**19.Title Case Conversion:
Convert a string to title case (e.g., "hello world" → "Hello World").**

In [11]:
s = input("Enter a string: ")
words = s.split()
title_case = ""
i = 0

while i < len(words):
    word = words[i]
    title_case += word[0].upper() + word[1:].lower() + " "
    i += 1

print("Title case:", title_case.strip())

Enter a string: hello World
Title case: Hello World

**20.Palindrome Check:
Check if a given string is a palindrome.**

In [12]:
s = input("Enter a string: ")
reversed_s = ""
i = len(s) - 1

while i >= 0:
    reversed_s += s[i]
    i -= 1

if s == reversed_s:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a string: dad
Palindrome

**21.Find Maximum and Minimum:
Find the largest and smallest numbers in a list.**

In [14]:
numbers = input("Enter numbers: ").split()
i = 0
max_val = int(numbers[0])
min_val = int(numbers[0])

while i < len(numbers):
    num = int(numbers[i])
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num
    i += 1

print("Max:", max_val)
print("Min:", min_val)

Enter numbers: 1 10 11 0 21
Max: 21
Min: 0

**22.List Reversal:
Reverse a list without using the reverse() method.**

In [15]:
numbers = input("Enter numbers: ").split()
i = len(numbers) - 1
reversed_list = []

while i >= 0:
    reversed_list.append(numbers[i])
    i -= 1

print("Reversed list:", reversed_list)

Enter numbers: 0 1 2 3 4 5
Reversed list: ['5', '4', '3', '2', '1', '0']

**23.Remove Duplicates from List:
Remove duplicates from a list while maintaining order.**

In [17]:
numbers = input("Enter numbers: ").split()
i = 0
unique = []

while i < len(numbers):
    if numbers[i] not in unique:
        unique.append(numbers[i])
    i += 1

print("List without duplicates:", unique)

Enter numbers: 1 3 4 3 5 8
List without duplicates: ['1', '3', '4', '5', '8']

**24.List Rotation:
Rotate a list by a given number of positions.**

In [18]:
numbers = input("Enter numbers: ").split()
k = int(input("Enter how many times to rotate: "))
i = 0
rotated = []

while i < len(numbers):
    new_index = (i + k) % len(numbers)
    rotated.append(numbers[new_index])
    i += 1

print("Rotated list:", rotated)

Enter numbers: 1 3 4 5 20 2 0 8
Enter how many times to rotate: 3
Rotated list: ['5', '20', '2', '0', '8', '1', '3', '4']

**25.Find Common Elements:
Find common elements between two lists.**

In [19]:
list1 = input("Enter first list: ").split()
list2 = input("Enter second list: ").split()
common = []
i = 0

while i < len(list1):
    if list1[i] in list2 and list1[i] not in common:
        common.append(list1[i])
    i += 1

print("Common elements:", common)

Enter first list: 1 7 8 2 0
Enter second list: 2 4 6 7 8 22
Common elements: ['7', '8', '2']

**26. List Sorting without Built-in Methods:
Sort a list without using Python's built-in sort().**

In [20]:
numbers = input("Enter numbers: ").split()
i = 0

while i < len(numbers):
    j = 0
    while j < len(numbers) - 1:
        if int(numbers[j]) > int(numbers[j+1]):
            temp = numbers[j]
            numbers[j] = numbers[j+1]
            numbers[j+1] = temp
        j += 1
    i += 1

print("Sorted list:", numbers)

Enter numbers: 1 3 5 7 3 2 9 7
Sorted list: ['1', '2', '3', '3', '5', '7', '7', '9']

**27.Pair with Sum:
Find all pairs in a list whose sum equals a given number.**

In [22]:
numbers = input("Enter numbers: ").split()
target = int(input("Enter target sum: "))
i = 0

while i < len(numbers):
    j = i + 1
    while j < len(numbers):
        a = int(numbers[i])
        b = int(numbers[j])
        if a + b == target:
            print("Pair:", a, b)
        j += 1
    i += 1

Enter numbers: 7 3 1 0 5
Enter target sum: 10
Pair: 7 3

**28.Flatten Nested List:
Flatten a nested list into a single list.**

In [23]:
nested = [[1, 2], [3, 4], [5, 6]]
flat = []
i = 0

while i < len(nested):
    j = 0
    while j < len(nested[i]):
        flat.append(nested[i][j])
        j += 1
    i += 1

print("Flattened list:", flat)

Flattened list: [1, 2, 3, 4, 5, 6]

**29. Cumulative Sum:
Create a new list where each element is the cumulative sum of the original list.**

In [24]:
numbers = input("Enter numbers: ").split()
i = 0
total = 0
cumulative = []

while i < len(numbers):
    total += int(numbers[i])
    cumulative.append(total)
    i += 1

print("Cumulative sum list:", cumulative)

Enter numbers: 1 2 3 4 5
Cumulative sum list: [1, 3, 6, 10, 15]

**30.Second Largest Element:
Find the second largest element in a list.**

In [25]:
numbers = input("Enter numbers: ").split()
i = 0
max_val = int(numbers[0])

while i < len(numbers):
    if int(numbers[i]) > max_val:
        max_val = int(numbers[i])
    i += 1

numbers.remove(str(max_val))
second_max = int(numbers[0])
i = 1

while i < len(numbers):
    if int(numbers[i]) > second_max:
        second_max = int(numbers[i])
    i += 1

print("Second largest:", second_max)

Enter numbers: 1 44 2 3 4 5
Second largest: 5

**Programs on Functions**

**1. Write a function to calculate the factorial of a number**

In [26]:
def factorial(n):
    result = 1
    i = 1
    while i <= n:
        result *= i
        i += 1
    return result

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 3
Factorial: 6

**2. Create a function to check if a number is prime**

In [27]:
def is_prime(n):
    if n <= 1:
        return False
    i = 2
    while i < n:
        if n % i == 0:
            return False
        i += 1
    return True

num = int(input("Enter a number: "))
print("Prime:", is_prime(num))

Enter a number: 7
Prime: True

**3. Write a function to find the greatest common divisor (GCD) of two numbers**

In [28]:
def find_gcd(a, b):
    while b != 0:
        temp = b
        b = a % b
        a = temp
    return a

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("GCD:", find_gcd(x, y))

Enter first number: 2
Enter second number: 4
GCD: 2

**4. Create a function to reverse a string**

In [29]:
def reverse_string(s):
    result = ""
    i = len(s) - 1
    while i >= 0:
        result += s[i]
        i -= 1
    return result

text = input("Enter a string: ")
print("Reversed:", reverse_string(text))

Enter a string: intern
Reversed: nretni

**5. Write a function to calculate the Fibonacci sequence up to n terms**

In [30]:
def fibonacci(n):
    a = 0
    b = 1
    i = 0
    while i < n:
        print(a, end=" ")
        c = a + b
        a = b
        b = c
        i += 1

terms = int(input("Enter number of terms: "))
fibonacci(terms)

Enter number of terms: 9
0 1 1 2 3 5 8 13 21

**6. Create a function to check if a string is a palindrome**

In [33]:
def is_palindrome(s):
    reversed_s = ""
    i = len(s) - 1
    while i >= 0:
        reversed_s += s[i]
        i -= 1
    return s == reversed_s

text = input("Enter a string: ")
print("Palindrome:", is_palindrome(text))

Enter a string: dad
Palindrome: True

**7. Write a function to convert Celsius to Fahrenheit and vice versa**

In [34]:
def c_to_f(c):
    return (c * 9 / 5) + 32

def f_to_c(f):
    return (f - 32) * 5 / 9

choice = input("Convert (C)elsius or (F)ahrenheit? ")
temp = float(input("Enter temperature: "))

if choice == "C":
    print("Fahrenheit:", c_to_f(temp))
else:
    print("Celsius:", f_to_c(temp))

Convert (C)elsius or (F)ahrenheit? C
Enter temperature: 96
Fahrenheit: 204.8

**8. Create a function to find the largest and smallest numbers in a list**

In [35]:
def min_max(lst):
    minimum = int(lst[0])
    maximum = int(lst[0])
    i = 1
    while i < len(lst):
        num = int(lst[i])
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num
        i += 1
    return minimum, maximum

nums = input("Enter numbers: ").split()
mn, mx = min_max(nums)
print("Min:", mn, "Max:", mx)

Enter numbers: 1 2 3 4 5
Min: 1 Max: 5

**9. Write a function to count the frequency of each character in a string**

In [36]:
def char_frequency(s):
    freq = {}
    i = 0
    while i < len(s):
        ch = s[i]
        if ch in freq:
            freq[ch] += 1
        else:
            freq[ch] = 1
        i += 1
    return freq

text = input("Enter a string: ")
print(char_frequency(text))

Enter a string: cat
{'c': 1, 'a': 1, 't': 1}

**10. Create a function to calculate the sum of all even numbers in a list**

In [37]:
def sum_even(lst):
    total = 0
    i = 0
    while i < len(lst):
        num = int(lst[i])
        if num % 2 == 0:
            total += num
        i += 1
    return total

nums = input("Enter numbers: ").split()
print("Even sum:", sum_even(nums))

Enter numbers: 2 3 4 5 19 10
Even sum: 16

**11. Write a function to find the area and perimeter of a rectangle**

In [38]:
def area_perimeter(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

l = int(input("Enter length: "))
w = int(input("Enter width: "))
a, p = area_perimeter(l, w)
print("Area:", a)
print("Perimeter:", p)

Enter length: 10
Enter width: 4
Area: 40
Perimeter: 28

**12. Create a function to calculate the compound interest for given inputs**

In [39]:
def compound_interest(p, r, t):
    amount = p * (1 + r / 100) ** t
    return amount

p = float(input("Principal: "))
r = float(input("Rate: "))
t = float(input("Time: "))
print("Total amount:", compound_interest(p, r, t))

Principal: 8000
Rate: 5
Time: 1
Total amount: 8400.0

**13. Write a function to merge and sort two lists**

In [40]:
def merge_sort(lst1, lst2):
    merged = lst1 + lst2
    i = 0
    while i < len(merged):
        j = 0
        while j < len(merged) - 1:
            if int(merged[j]) > int(merged[j+1]):
                temp = merged[j]
                merged[j] = merged[j+1]
                merged[j+1] = temp
            j += 1
        i += 1
    return merged

a = input("Enter list 1: ").split()
b = input("Enter list 2: ").split()
print("Merged and sorted:", merge_sort(a, b))

Enter list 1: 1 2 7 8 11
Enter list 2: 3 5 1 6 8 90
Merged and sorted: ['1', '1', '2', '3', '5', '6', '7', '8', '8', '11', '90']

**14. Create a function to return the second largest number in a list**

In [41]:
def second_largest(lst):
    max_val = int(lst[0])
    i = 1
    while i < len(lst):
        if int(lst[i]) > max_val:
            max_val = int(lst[i])
        i += 1
    lst.remove(str(max_val))
    second = int(lst[0])
    i = 1
    while i < len(lst):
        if int(lst[i]) > second:
            second = int(lst[i])
        i += 1
    return second

nums = input("Enter numbers: ").split()
print("Second largest:", second_largest(nums))

Enter numbers: 1 2 3 4 5
Second largest: 4

**15. Write a function to find the longest word in a sentence**

In [42]:
def longest_word(sentence):
    words = sentence.split()
    longest = ""
    i = 0
    while i < len(words):
        if len(words[i]) > len(longest):
            longest = words[i]
        i += 1
    return longest

s = input("Enter a sentence: ")
print("Longest word:", longest_word(s))

Enter a sentence: This is my summer internship
Longest word: internship

**16. Create a function to check if a year is a leap year**

In [43]:
def is_leap(year):
    if year % 4 == 0:
        if year % 100 != 0 or year % 400 == 0:
            return True
    return False

y = int(input("Enter year: "))
print("Leap year:", is_leap(y))

Enter year: 2020
Leap year: True

**17. Write a function to calculate the sum of digits of a number**

In [44]:
def digit_sum(n):
    total = 0
    while n > 0:
        total += n % 10
        n = n // 10
    return total

num = int(input("Enter a number: "))
print("Digit sum:", digit_sum(num))

Enter a number: 12
Digit sum: 3

**18. Create a function to generate a list of random numbers**

In [45]:
import random

def generate_random(count):
    numbers = []
    i = 0
    while i < count:
        numbers.append(random.randint(1, 100))
        i += 1
    return numbers

n = int(input("How many random numbers? "))
print("Random list:", generate_random(n))

How many random numbers? 50
Random list: [37, 18, 28, 33, 20, 92, 9, 41, 98, 85, 44, 94, 86, 65, 14, 2, 21, 95, 68, 44, 95, 3, 72, 97, 41, 69, 45, 83, 83, 76, 56, 38, 21, 89, 34, 31, 84, 43, 47, 12, 47, 73, 84, 69, 46, 31, 13, 19, 24, 89]

**19. Write a function to count vowels and consonants in a string**

In [46]:
def count_vowels_consonants(s):
    vowels = 0
    consonants = 0
    i = 0
    while i < len(s):
        ch = s[i].lower()
        if ch in 'aeiou':
            vowels += 1
        elif ch.isalpha():
            consonants += 1
        i += 1
    return vowels, consonants

text = input("Enter text: ")
v, c = count_vowels_consonants(text)
print("Vowels:", v)
print("Consonants:", c)

Enter text: catemaran
Vowels: 4
Consonants: 5

**20. Create a function to calculate the average of numbers in a list**

In [47]:
def average(lst):
    total = 0
    i = 0
    while i < len(lst):
        total += int(lst[i])
        i += 1
    return total / len(lst)

nums = input("Enter numbers: ").split()
print("Average:", average(nums))

Enter numbers: 1 2 3 4 5
Average: 3.0

**Programs on Modules**

**21. Create a module for basic math operations and use it in a program**

In [49]:
import operator

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Add:", operator.add(a, b))
print("Subtract:", operator.sub(a, b))
print("Multiply:", operator.mul(a, b))
print("Divide:", operator.truediv(a, b))

Enter first number: 1
Enter second number: 2
Add: 3
Subtract: -1
Multiply: 2
Divide: 0.5

**22. Create a module for string manipulation (reverse, palindrome, vowels)**

In [50]:
txt = input("Enter a string: ")

# Reverse using loop (no slicing)
reversed_str = ""
i = len(txt) - 1
while i >= 0:
    reversed_str += txt[i]
    i -= 1

# Palindrome check
is_palindrome = txt == reversed_str

# Vowel count
vowels = 0
i = 0
while i < len(txt):
    if txt[i].lower() in 'aeiou':
        vowels += 1
    i += 1

print("Reversed:", reversed_str)
print("Is palindrome:", is_palindrome)
print("Vowel count:", vowels)

Enter a string: flowera
Reversed: arewolf
Is palindrome: False
Vowel count: 3

**23. Use the math module for trigonometric calculations**

In [51]:
import math

angle = float(input("Enter angle in degrees: "))
radians = math.radians(angle)

print("sin:", math.sin(radians))
print("cos:", math.cos(radians))
print("tan:", math.tan(radians))

Enter angle in degrees: 90
sin: 1.0
cos: 6.123233995736766e-17
tan: 1.633123935319537e+16

**24. Generate a random password using random module**

In [52]:
import random
import string

def generate_password(length):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ""
    i = 0
    while i < length:
        password += random.choice(characters)
        i += 1
    return password

n = int(input("Enter password length: "))
print("Generated password:", generate_password(n))

Enter password length: 5
Generated password: Ji9U`

**25. Module to calculate areas of shapes (circle, rectangle, triangle)**

In [56]:
def circle_area(r):
    return 3.14 * r * r

def rectangle_area(l, w):
    return l * w

def triangle_area(b, h):
    return 0.5 * b * h

print("Circle area:", circle_area(5))
print("Rectangle area:", rectangle_area(4, 6))
print("Triangle area:", triangle_area(5, 3))

Circle area: 78.5
Rectangle area: 24
Triangle area: 7.5

**26. Use the datetime module to show current date and time**

In [53]:
import datetime

now = datetime.datetime.now()
print("Current date and time:", now)

Current date and time: 2025-06-20 19:06:29.847259

**27. Use os module to list all files in a directory**

In [64]:
import os

path = input("Enter directory path: ")
files = os.listdir(path)

print("Files in directory:")
for f in files:
    print(f)

Enter directory path: /content
Files in directory:
.config
Sample_Employment_Agreement
myfile.txt
sample_data

**28. Create a module to handle file operations (read, write, append)**

In [60]:
filename = input("Enter file name (with .txt): ")

# Write content to file
content = input("Enter content to write: ")
file = open(filename, "w")
file.write(content + "\n")
file.close()

# Append more content
more = input("Enter content to append: ")
file = open(filename, "a")
file.write(more + "\n")
file.close()

# Read and show file content
file = open(filename, "r")
print("File content:\n" + file.read())
file.close()

Enter file name (with .txt): Sample_Employment_Agreement
Enter content to write: asfffzc
Enter content to append: asss
File content:
asfffzc
asss

**29. Use statistics module to calculate mean, median, mode**

In [57]:
import statistics

data = list(map(int, input("Enter numbers: ").split()))
print("Mean:", statistics.mean(data))
print("Median:", statistics.median(data))
print("Mode:", statistics.mode(data))

Enter numbers: 9 19 9 4 5 6
Mean: 8.666666666666666
Median: 7.5
Mode: 9

**30. Create a module to convert units (length, weight, temperature)**

In [61]:
def km_to_miles(km):
    return km * 0.621371

def kg_to_pounds(kg):
    return kg * 2.20462

def c_to_f(c):
    return (c * 9 / 5) + 32

# Get input from user
km = float(input("Enter distance in kilometers: "))
kg = float(input("Enter weight in kilograms: "))
c = float(input("Enter temperature in Celsius: "))

# Convert and display results
print(km, "km in miles:", km_to_miles(km))
print(kg, "kg in pounds:", kg_to_pounds(kg))
print(c, "C in Fahrenheit:", c_to_f(c))

Enter distance in kilometers: 9
Enter weight in kilograms: 7
Enter temperature in Celsius: 45
9.0 km in miles: 5.592339
7.0 kg in pounds: 15.432339999999998
45.0 C in Fahrenheit: 113.0